.container{
    text-align: center;
    margin-top: 200px;
    padding: 80px;
}
#button{
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
}
#button:hover{
    color: white;
    background-color: black;
}
#hexa{
    text-align: center;
    width: 90px;
}
#copy{
    width: 50px;
    text-align: center;
}
#copy:hover{
    transform: scale(1.1);
}